/*color*/
:root {
    --point-co: #005EB8;
    --point-co2: #FFE925;
    --black: #000;
    --white: #fff;
    --grey: #888;
    --lightgrey: #f4f4f4;
}
* {
    margin: 0;
    padding: 0;
    font-family: 'SUIT';
    font-weight: 400;
    font-size: 100%;
    line-height: 1.4;
    letter-spacing: 0px;
    -webkit-tap-highlight-color: transparent;
    -webkit-text-size-adjust: 100%;
    text-size-adjust: 100%;
}
body, html {
    position: relative;
    width: 100%;
    scroll-behavior: smooth;
    color: var(--black);
}
:after, :before {
    box-sizing: border-box;
    flex-shrink: 0;
}
img, picture, video, canvas, svg {
    display: block;
}
a, button {
    cursor: pointer;
    text-decoration: none;
    background: none;
    border: none;
    color: inherit;
}
a,body,canvas,dd,div,dl,dt,em,embed,fieldset,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,li,nav,object,ol,p,section,span,strong,table,tbody,td,tfoot,th,thead,tr,tt,u,ul,video{
    border:0;
    vertical-align:baseline;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
ol, ul {
    list-style: none;
}
img {
    display: block;
} 
i {
    font-style: normal;
}
select { 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    font-family: 'SUIT';
}
select:focus, select:active{
    outline:0;
}
input{
    font-family: 'SUIT';
}
input::placeholder{
    font-family: 'SUIT';
    font-weight: 400;
    font-size: 15px;
}
input[type="text"],
input[type="tel"],
input[type="password"],
input[type="email"],
input[type="search"],
textarea{
    font-family: 'SUIT';
    border-style: none;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
}
input:focus, textarea:focus {
    outline:none;
}
body::-webkit-scrollbar {
    width: 10px;
    background-color: transparent;
}
body::-webkit-scrollbar-thumb {
    background-color: var(--point-co);
    border-radius: 10px;
}
body::-webkit-scrollbar-track {
    background-color: rgba(255,255,255,0.3);
    border-radius: 10px;
}