@font-face {
  font-family: 'SUIT';
  font-weight: 100;
  src: url('SUIT-Thin.otf');
  src: url('SUIT-Thin.otf') format('opentype'),
    url('SUIT-Thin.ttf') format('truetype');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 200;
  src: url('SUIT-ExtraLight.otf');
  src: url('SUIT-ExtraLight.otf') format('opentype'),
    url('SUIT-ExtraLight.ttf') format('truetype');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 300;
  src: url('SUIT-Light.otf');
  src: url('SUIT-Light.ttf') format('truetype'),
    url('SUIT-Light.otf') format('opentype');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 400;
  src: url('SUIT-Regular.otf');
  src: url('SUIT-Regular.otf') format('opentype'),
    url('SUIT-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 500;
  src: url('SUIT-Medium.otf');
  src: url('SUIT-Medium.otf') format('opentype'),
    url('SUIT-Medium.ttf') format('truetype');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 600;
  src: url('SUIT-SemiBold.otf');
  src: url('SUIT-SemiBold.otf') format('opentype'),
    url('SUIT-SemiBold.ttf') format('truetype');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 700;
  src: url('SUIT-Bold.otf');
  src: url('SUIT-Bold.otf') format('opentype'),
    url('SUIT-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 800;
  src: url('SUIT-Extrabold.otf');
  src: url('SUIT-ExtraBold.otf') format('opentype'),
    url('SUIT-ExtraBold.ttf') format('truetype');
}
@font-face {
  font-family: 'SUIT';
  font-weight: 900;
  src: url('SUIT-Heavy.otf');
  src: url('SUIT-Heavy.otf') format('opentype'),
    url('SUIT-Heavy.ttf') format('truetype');
}
